# docker-compose.yml
version: "3.8"
services:
  web:
    build: .
    ports:
      - "5000:5000"
    restart: unless-stopped
    shm_size: "1g"
    environment:
      - PYTHONUNBUFFERED=1
    # volumes:
    #  - ./models:/app/src/model  # nếu muốn mount model ngoài
